.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}
.cell {
    background-color: rgb(220, 220, 220);
    height: 100px;
}
.col1 {
    grid-column-end: span 12;
}
.col2 {
    grid-column-end: span 6;
}
.col3 {
    grid-column-end: span 4;
}
.col4 {
    grid-column-end: span 3;
}
.col6 {
    grid-column-end: span 2;
}
