.grid {
    display: grid;
    /*    grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns: 100px 1fr 30%;
    grid-gap: 10px;
}
.cell {
    background-color: rgb(220, 220, 220);
    height: 100px;
}
